.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  text-transform: uppercase;
  background-color: #4A90E2;
  color: #fff;
  cursor: pointer;
}

.short-btn {
  height: 2.2em;
}

.add-play-button, .filter-games-button {
  position: fixed;
  width: 100%;
  bottom: 3em;
  /*box-shadow: 0px -5px 50px 0px rgba(33,33,33,0.36);*/
}

.green {
  background-color: #4CAF50;
}

.submit {
  width: 100%;
  border: none;
  font-size: 1em;
  font-family: 'Raleway';
  cursor: pointer;
}

.green-link {
  color: #4CAF50;
  font-weight: 700;
  cursor: pointer;
}

.blue-link {
  color: #4990E2;
  font-weight: 700;
  cursor: pointer;
}
