.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  text-transform: uppercase;
  background-color: #4A90E2;
  color: #fff;
  cursor: pointer;
  /* turn off safari defaults */
  -webkit-appearance: none;
  border-radius: 0;
  transition: 0.5s;
}

.button:hover {
  background-color: #367dd0;
}

.short-btn {
  height: 2.2em;
}

.add-play-button-mobile, .filter-games-button-mobile {
  position: fixed;
  width: 100%;
  bottom: 3em;
}

.add-play-button-desktop, .filter-games-button-desktop {
  margin: 5em auto 0em;
  max-width: 600px;
}

.green {
  background-color: #4CAF50;
}

.green:hover {
  background-color: #3ba03f;
}

.submit {
  width: 100%;
  border: none;
  font-size: 1em;
  font-family: 'Raleway';
  cursor: pointer;
}

.green-link {
  color: #4CAF50;
  font-weight: 700;
  cursor: pointer;
}

.blue-link {
  color: #4990E2;
  font-weight: 700;
  cursor: pointer;
}
