.form-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-input, textarea {
  width: 100%;
  height: 3em;
  font-size: 1em;
  padding: 0.25em;
}

textarea {
  height: 8em;
}

.noGameInState {
  font-style: italic;
  color: #808080;
}

.foundGame {
  font-weight: 700;
}

.two-inputs {
  display: flex;
  justify-content: space-between;
}

.input-left, .input-right {
  max-width: 48%;
}

.form-error {
  text-align: center;
  padding: 0.5em;
  background-color: #FFEBEE;
  color: #c62828;
  font-weight: 700;
}

.inline-form-error {
  float: right;
  font-size: 0.9em;
  color: #c62828;
  font-weight: 700;
}
