.black {
  color: #000;
}

/*=====TOP NAV=====*/
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #212121;
  color: #fff;
  z-index: 100;
}

.brand, .menu-burger {
  margin: auto 0.5em;
  cursor: pointer;
  user-select: none;
  width: 140px;
}

.menu-burger {
  text-align: right;
}

.desktop-menu-item {
  display: none;
  text-transform: uppercase;
  color: #fff;
  width: 140px;
  text-align: center;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}



/*=====BOTTOM MOBILE NAV=====*/

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3em;
  width: 100%;
  background-color: #E1E1E1;
}

.bottom-mobile-nav {
  position: fixed;
  bottom: 0px;
}

.top-mobile-nav {
  position: fixed;
  top: 3em;
  background-color: #fff;
}

.mobile-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-transform: uppercase;
}

.active {
  background-color: #484848;
  font-weight: 700;
  color: #fff;
}

.active-blue {
  font-weight: 700;
  color: #4990E2;
  border-bottom: 6px solid #4990E2;
  padding-top: 6px;
}

.active-top-navbar {
  font-weight: 700;
  color: #fff;
  border-bottom: 6px solid #4990E2;
  padding-top: 15px;
  height: 100%;
  width: 140px;
  text-align: center;
}
