/*=====TOP NAV=====*/
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 3em;
  background-color: #212121;
  color: #fff;
}

.brand, .menu-burger {
  margin: auto 0.5em;
}

/*=====BOTTOM MOBILE NAV=====*/

.bottom-mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3em;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #E1E1E1;
}

.bottom-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-transform: uppercase;
}

/*.bottom-nav-selected {
  background-color: #717171;
  font-weight: 700;
  color: #fff;
}*/

/*.bottom-mobile-nav-selected-bar {
  height: 6px;
  width: 50%;
  position: absolute;
  bottom: 0px;
  background-color: #4A4A4A;
}

.right {
  right: 0px;
}*/
