.plays-container {
  margin-top: 6em;
  margin-bottom: 10em;
}

.play-stats-container {
  margin-top: 6em;
  margin-bottom: 7em;
}

.date-divider {
  background-color: #EFEFEF;
  padding: 0.2em 0em 0.2em 0.5em;
}

.plays-by-game-div {
  display: flex;
  align-items: center;
}

.h-index {
  padding: 0.2em 0em 0.2em 0.5em;
  text-align: center;
  background-color: #ff5722;
  color: #fff;
}

.stat-money {
  position: absolute;
  right: 1em;
}

.purple-100 {
  background-color: #F1E8F9;
}

.dark-purple-100 {
  color: #A15CDD;
}

.blue-50 {
  background-color: #E0EBFA;
}

.dark-blue-50 {
  color: #3B7BD2;
}

.green-25 {
  background-color: #EBF5DF;
}

.dark-green-25 {
  color: #74AA35;
}

.orange-10 {
  background-color: #FFF0D4;
}

.dark-orange-10 {
  color: #F38F00;
}

.yellow-5 {
  background-color: #FDF7D9;
}

.dark-yellow-5 {
  color: #F7C307;
}
