.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  text-transform: uppercase;
  background-color: #4A90E2;
  color: #fff;
}

.add-play-button {
  position: fixed;
  width: 100%;
  bottom: 3em;
}
